@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .is-x {
    color: #2cccff;
    border: 3px solid #2cccff;
    outline: none;
  }
  .is-o {
    color: #ff6651;
    border: 3px solid #ff6651;
    outline: none;
  }
}

// @layer utilities {
//   .box::before {
//     @apply content-[''] absolute bg-[conic-gradient(#04b0ee_20deg,transparent_120deg)] w-[300px] h-[300px] top-[-25%] left-[-25%] animate-fullSpin;
//   }
//   .box::after {
//     @apply content-[""] text-white w-[94%] h-[94%] bg-[#020223] absolute top-[3%] left-[3%] flex justify-center items-center tracking-[2px];
//   }
// }
